---
import "./introduction.css"; 
---

<section id="introduction" class="introduction-section-container">
  <h1>Hi, I'm a front-end web developer.</h1>
  <p>
    Welcome to my website! Here, you'll find a showcase of the technologies
    I work with and the projects I've created. Feel free to explore and get
    a glimpse of the work that drives me forward.
  </p>
</section>
