:root {
  --global--horizontal--padding: 1.75rem;
  --global--vertical--padding: 1.5rem;
}
@font-face {
  font-family: "Inter";
  src: url("./src/fonts/inter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: #000000;
  color: white;
  font-family: "Inter", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: var(--global--vertical--padding) var(--global--horizontal--padding);
}

.profile-picture-container {
  cursor: pointer;
}

.profile-picture-container > img {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
}

.profile-picture-container > img:hover {
  transition: 0.1s;
  transform: scale(1.05);
}

header > p {
  font-weight: bold;
  font-size: 1rem;

  text-align: center;
}

.contact-icon-container {
  width: 2rem;
  height: 2rem;

  border-radius: 100%;

  background-color: rgba(255, 255, 255, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-icon-container > a > img {
  width: 0.813rem;
  height: 0.563rem;
}

.contact-icon-container:hover {
  transition: 0.1s;
  transform: scale(1.05);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 var(--global--horizontal--padding);
}

.introduction-section-container {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;

  margin-bottom: 1.438rem;
}

.introduction-section-container p:nth-child(1) {
  font-size: 0.8rem;
  font-weight: 500;
}

.introduction-section-container p:nth-child(2) {
  font-size: 0.663rem;
  font-weight: normal;

  color: rgba(255, 255, 255, 0.8);
}

.technology-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  justify-content: center;
  font-weight: 500;
  font-size: 0.725rem;

  margin-bottom: 1.5rem;
}

.technology-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;

  flex: 1 1 calc((100% - 1rem) / 3);
  max-width: calc((100% - 1rem) / 3);

  padding: 1.188rem 1.875rem;
  border: 1px solid rgba(255, 255, 255, 0.1);

  background-color: black;

  border-radius: 0.125rem;

  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.25);
}

#html-icon {
  width: 1.75rem;
  height: 2.063rem;
}
#css-icon {
  width: 1.813rem;
  height: 2rem;
}
#javascript-icon {
  width: 1.813rem;
  height: 1.813rem;
}
#typescript-icon,
#react-icon,
#nextjs-icon {
  width: 2.063rem;
  height: 2.063rem;
}

.technology-card > p {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.project-card-container {
  display: flex;
  flex-direction: column;
  gap: 0.563rem;
  justify-content: center;
  align-items: center;

  margin-bottom: 2rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;

  padding: 0.875rem;

  border: solid 1px rgba(255, 255, 255, 0.1);

  background-color: black;

  border-radius: 0.125rem;

  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.project-card-header {
  display: flex;
  justify-content: space-between;
  font-size: 0.725rem;
}

.project-card-header > a > img {
  width: 0.625rem;
  height: 0.625rem;
}

.project-card-header > a > img:hover {
  transition: 0.1s;
  transform: scale(1.05);
}

.project-card-description {
  font-size: 0.6rem;
  color: rgba(255, 255, 255, 0.8);
}
.background-grid-container {
  position: fixed;
  inset: 0;
  z-index: -99999;
  pointer-events: none;

  background-image: url("./src/images/background-grid.svg");
  background-repeat: repeat;
  background-size: 100% 100%;
  animation: background-stretch 20s ease-in-out forwards;
  will-change: background-size;
}
@keyframes background-stretch {
  0% {
    transform: scaleX(0.5);
  }
  100% {
    transform: scaleX(4);
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  html {
    font-size: 19px;
  }
  :root {
    --global--horizontal--padding: 3rem;
    --global--vertical--padding: 2rem;
  }
  header {
    padding: var(--global--vertical--padding) var(--global--horizontal--padding);
  }
  main {
    padding: 0 var(--global--horizontal--padding);
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  html {
    font-size: 22px;
  }
  :root {
    --global--horizontal--padding: 6rem;
    --global--vertical--padding: 2rem;
  }
  header {
    padding: var(--global--vertical--padding) var(--global--horizontal--padding);
  }
  main {
    padding: 0 var(--global--horizontal--padding);
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  html {
    font-size: 24px;
  }
  :root {
    --global--horizontal--padding: 10rem;
    --global--vertical--padding: 2rem;
  }
  header {
    padding: var(--global--vertical--padding) var(--global--horizontal--padding);
  }
  main {
    padding: 0 var(--global--horizontal--padding);
  }
}

@media (min-width: 1200px) and (max-width: 1599px) {
  :root {
    --global--horizontal--padding: 15rem;
    --global--vertical--padding: 2rem;
  }
  header {
    padding: var(--global--vertical--padding) var(--global--horizontal--padding);
  }
  main {
    padding: 0 var(--global--horizontal--padding);
  }
  html {
    font-size: 26px;
  }
}

@media (min-width: 1600px) and (max-width: 1999px) {
  :root {
    --global--horizontal--padding: 15rem;
    --global--vertical--padding: 2rem;
  }
  html {
    font-size: 32px;
  }
  header {
    padding: var(--global--vertical--padding) var(--global--horizontal--padding);
  }
  main {
    padding: 0 var(--global--horizontal--padding);
  }
}

@media (min-width: 2000px) {
  :root {
    --global--horizontal--padding: 30rem;
    --global--vertical--padding: 2rem;
  }
  html {
    font-size: 30px;
  }
  header {
    padding: var(--global--vertical--padding) var(--global--horizontal--padding);
  }
  main {
    padding: 0 var(--global--horizontal--padding);
  }
}
