.space-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  z-index: -10;
  pointer-events: none;

  background: radial-gradient(
    circle at center,
    #000000 0%,
    #050005 40%,
    #000000 100%
  );
}
