---
import ProfileModal from "./ProfileModal.tsx"
import "./header.css"
---

<header>
  <ProfileModal client:load />
  <p>Nihad Ibrahimli</p>
  <div class="contact-icon-container">
    <a href="mailto:hello@nihad.az">
      <img src="/icons/mail-icon.svg" alt="Mail icon" />
    </a>
  </div>
</header>
