:root {
  --global--horizontal--padding: 1.75rem;
  --global--vertical--padding: 1.5rem;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/inter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: #000000;
  color: white;
  font-family: "Inter", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 var(--global--horizontal--padding);
}

@media (min-width: 400px) and (max-width: 599px) {
  html {
    font-size: 19px;
  }
  :root {
    --global--horizontal--padding: 3rem;
    --global--vertical--padding: 2rem;
  }
  header {
    padding: var(--global--vertical--padding) var(--global--horizontal--padding);
  }
  main {
    padding: 0 var(--global--horizontal--padding);
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  html {
    font-size: 22px;
  }
  :root {
    --global--horizontal--padding: 6rem;
    --global--vertical--padding: 2rem;
  }
  header {
    padding: var(--global--vertical--padding) var(--global--horizontal--padding);
  }
  main {
    padding: 0 var(--global--horizontal--padding);
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  html {
    font-size: 24px;
  }
  :root {
    --global--horizontal--padding: 10rem;
    --global--vertical--padding: 2rem;
  }
  header {
    padding: var(--global--vertical--padding) var(--global--horizontal--padding);
  }
  main {
    padding: 0 var(--global--horizontal--padding);
  }
}

@media (min-width: 1200px) and (max-width: 1599px) {
  :root {
    --global--horizontal--padding: 15rem;
    --global--vertical--padding: 2rem;
  }
  header {
    padding: var(--global--vertical--padding) var(--global--horizontal--padding);
  }
  main {
    padding: 0 var(--global--horizontal--padding);
  }
  html {
    font-size: 26px;
  }
}

@media (min-width: 1600px) and (max-width: 1999px) {
  :root {
    --global--horizontal--padding: 15rem;
    --global--vertical--padding: 2rem;
  }
  html {
    font-size: 32px;
  }
  header {
    padding: var(--global--vertical--padding) var(--global--horizontal--padding);
  }
  main {
    padding: 0 var(--global--horizontal--padding);
  }
}

@media (min-width: 2000px) {
  :root {
    --global--horizontal--padding: 30rem;
    --global--vertical--padding: 2rem;
  }
  html {
    font-size: 30px;
  }
  header {
    padding: var(--global--vertical--padding) var(--global--horizontal--padding);
  }
  main {
    padding: 0 var(--global--horizontal--padding);
  }
}
